body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #ffff;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-repeat: no-repeat;
}

#video{
    position: fixed; /* fixa a imagem na tela. Mesmo que o usuário role a página, ela permanece no fundo.*/
    top: 0;/*posiciona o topo da imagem colado no topo da tela.*/
    left: 0; /* posiciona a imagem encostada à esquerda da tela.*/
    width: 100%;/*a imagem ocupará toda a largura da tela.*/
    height: 100%;/* a imagem ocupará toda a altura da tela.*/
    object-fit: cover;/* a imagem ocupará toda a altura da tela cortando o excesso se necessário (sem distorcer).*/
    z-index: 1;/*coloca a imagem "atrás" de todo o conteúdo da página, como um fundo.*/
}


.container{
    background-color: #010906;
    border-radius: 10px;
    text-align:center;
    padding:10px;
    width: 300px; /*a tela tera no max 300px*/
    max-width: 80%; /*telas pequena no max tera 80% */
    box-shadow: 2px 5px 31px 1px #010906;
     z-index: 1;
}
 
.img-profile{
    width: 150px;
    height: 150px;
    object-fit: cover; /*objetivo de regular toda a foto*/
    border-radius: 50%;
    box-shadow: 2px 5px 31px 1px #1e1e1e;
    
   
}
.sub-title{
    margin-bottom: 50px;
}
.link{
    display: flex;
    align-items: center; /* controla a  posição vertical*/
    justify-content: space-around ; /* é utilizado para alinhar os elementos horizontalmente.*/
    background-color: #010b08;
    padding: 5px 10px; /*  */
    border-radius: 5px;
    margin:20px 0 ;
    text-decoration: none;
    
   p{
        color: #9d2aef;
        font-weight: bold;
    }
}
.icon{
    width: 50px ;
}